#groupphotos {
  list-style-type: none;
}

#groupphotos a:hover, #groupphotos a:active {
  background-color: #F1B82D;
  text-align: center;
  align-content: center;
  text-decoration: none;
  padding: auto;
}

#groupphotos img {
  display:block;
}

#header{display: block;
  background-color: #F1B82D;
  margin: auto;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nav {
  font-family: 'Muli', sans-serif;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  background-color: #DCDCDC;
  border: 3px solid black;
  margin-top: 0;
  }

.p1 {width: 80%;
    display: block;
    margin: auto;
}

#nav a:hover, #nav a:active {background-color: black;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: auto;
  }



li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

p{
  font-family: 'Muli', sans-serif;
  color:  #000000;
  font-size: 1em;
}

h1{
  font-family:'Roboto', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 2em;
  background-color: white;
  text-align: center;
}

footer{display: block;
      background-color: black;
      padding: 5px 5px 20px 5px;
    }
footer p{margin: .4px;
        color: white;
        padding:5px 5px 2px 5px }

footer h1{padding: 5px 5px 8px 5px;
          color: white;
          background-color: black;
          text-align: left;
        }

@media (max-width: 800px){
        #nav{display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;}
            }

#sponsors {display: flex;
          align-items: center;
          flex-flow: row wrap;
          }

.caption {display: block;
          background-color: black;
          width: auto;
          margin-left: auto
          padding: 5px;
          font-family: serif, "Times New Roman", sans-serif;
          font-style: italic;
          color: #FFFFFF;
          font-size: 0.8em;
          margin: auto;
          text-align: center;}
}
