#groupphotos {
  list-style-type: none;
}

#groupphotos a:hover, #groupphotos a:active {
  background-color: #F1B82D;
  text-align: center;
  align-content: center;
  text-decoration: none;
  padding: auto;
  width: 80%;
}

#groupphotos img {
  display:block;
}

#header {display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-between;
  background-color: #F1B82D;
  margin: auto;
}

#sponsors {display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 33% 33%;
  background-color: #DCDCDC;
}

#sponsors img {margin: 10px 20px;
            display: flex;
            justify-content: space-between;}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 80%;
  }


.donate {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#nav {
  font-family: 'Muli', sans-serif;
  list-style-type: none;
  display: flex;
  text-align: center;
  justify-content: space-around;
  flex-direction: row;
  background-color: #DCDCDC;
  border: 3px solid black;
  margin-top: 0;
  }

.p1 {width: 80%;
    display: block;
    margin: auto;
}

#nav a:hover, #nav a:active {background-color: black;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  padding: auto;
  }

li a{
    display: block;
    color: black;
    text-align: center;
    padding: 14px;
    text-decoration: none;
  }

p{
  font-family: 'Muli', sans-serif;
  color:  #000000;
  font-size: 1em;
}

h1{
  font-family:'Roboto', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 2em;
  background-color: white;
  text-align: center;
}

h2 {
  font-family:'Roboto', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 1em;
  text-align: center;
}

footer{display: block;
      background-color: black;
      padding-top: 10px;
      padding: 15px 5px 20px 5px;
    }
footer p{margin: .4px;
        color: white;
        padding:5px 5px 2px 5px }

footer h1{padding: 5px 5px 8px 5px;
          color: white;
          background-color: black;
          text-align: left;
        }

@media screen and (max-width: 600px) {

#nav { display: flex;
        flex-direction: column;}

#header { display: flex;
  flex-direction: column;
  align-items: center;}
}

.menutrigger {
  order: 1;
}

.slideshow-container {padding-top: 10px;
                      padding-bottom: 10px;}

h1 header {order: 2;}

nav li {display: none;}

@media screen and (min-width: 600px){


    nav li {
        display: flex;
    }

    nav ul li {
        border-top: none;
    }

    .menu-trigger {
        display: none;
    }

    nav {
        order: 2;
    }

}

        * {box-sizing:border-box}

        /* Slideshow container */
        .slideshow-container {
          max-width: 1000px;
          position: relative;
          margin: auto;
        }

        /* Hide the images by default */
        .mySlides {
          display: none;
        }

        /* The dots/bullets/indicators */
        .dot {
          cursor: pointer;
          height: 15px;
          width: 15px;
          margin: 0 2px;
          background-color: #bbb;
          border-radius: 50%;
          display: inline-block;
          transition: background-color 0.6s ease;
        }

        .active, .dot:hover {
          background-color: #717171;
        }

        /* Fading animation */
        .fade {
          -webkit-animation-name: fade;
          -webkit-animation-duration: 1.5s;
          animation-name: fade;
          animation-duration: 1.5s;
        }

        @-webkit-keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

        @keyframes fade {
          from {opacity: .4}
          to {opacity: 1}
        }

.caption {display: block;
          background-color: black;
          width: auto;
          margin-left: auto
          padding: 5px;
          font-family: serif, "Times New Roman", sans-serif;
          font-style: italic;
          color: #FFFFFF;
          font-size: 0.8em;
          margin: auto;
          text-align: center;}
}

.cards {
  margin: 0 -10px;
  padding: 0px;
  padding-bottom: 20px;
  display: flex;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  gap: 20px;
  grid-template-areas:
    "e e e"
    "c c d"
    "b b b"
  max-width: 80%;
  }

  @media screen and (max-width: 450px) {
        .bio li {list-style-type: none;}
  }

  @media screen and (min-width: 450px) {

    .cards {
      margin: 0 -10px;
      padding: 10px;
      padding-bottom:15px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 20px;
      gap: 20px;
      grid-template-areas:
        "e f f"
        "c d b"

}

@media screen and (min-width: 600px) {

  #container2 {
    width: 70%;
  }
  .cards {
    margin: 0 -10px;
    padding: 25px;
    padding-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    gap: 20px;
    grid-template-areas:
    "e e f"
    "c d b"
  }
  .cards p {
    text-align: center;
  }
}

.bio { list-style-type: none;}

.cards li {
  background-color: #DCDCDC;
  list-style-type: none;
  border-radius: 5px;
  align-content: center;
  padding-bottom: 5px;
}

.card2014 {
  grid-area: a;
}

.card2015 {
  grid-area: b;
}

.card2016 {
  grid-area: c;
}

.card2017 {
  grid-area: d;
}

.card2018 {
  grid-area: e;
}

.stories2018 {
  grid area: f;
}

.bio-container {
    display: flex;
    flex-flow: column;
}

.bio p {
    padding: 10px;
}

.bio-container li{
  background-color: #DCDCDC;
  list-style-type: none;
  margin: 20px;
  border-radius: 20px;
  padding:20px
}
.bio-container p{
  text-align: center;
  padding-left: 10px;
}
.bio-container li img{
  float: left;
}

details {
    border: 1px solid #aaa;
    border-radius: 4px;
    padding: .5em .5em 0;
}

summary {
    font-weight: bold;
    margin: -.5em -.5em 0;
    padding: .5em;
}

details[open] {
    padding: .5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: .5em;
}
