#groupphotos {
  list-style-type: none;
}

#nav {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
  background-color: #DCDCDC;
  border: 3px solid black;
  padding: 10px;
}

#nav a:hover, #nav a:active {
  background-color: white;
}

#nav a:link, #nav a:visited {
  display: block;
  font-weight: bold;
}
header{
  font-family:'Roboto', sans-serif;
  font-weight: bold;
  color: black;
  font-size: 2em;
  background-color: white;}

footer{display: block;
      background-color: black;
      padding: 20px;
    }
footer p{margin: .4px;
        color: white;}

footer h1{padding: 4px;
          color: white;
          background-color: black;}
}
